[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-mail = "*"
flask-ckeditor = "*"

[dev-packages]
watchdog = "*"

[requires]
python_version = "3.9"
